<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} {{ emoji }}
  </h1>
</div>
<h2>Builds</h2>
<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let build of builds">
    <mat-expansion-panel-header>
      <span class="build-name">
        {{build.buildDef.name}}
      </span>
      <mat-chip-list *ngIf="build.latestRun" class="build-result-chips">
        <mat-chip>
          {{build.latestRun.lastUpdated | date:'yyyy-MM-dd h:mm:ss a'}}
        </mat-chip>
        <mat-chip class="build-result-chip" [ngClass]="chipClass(build)">
          {{build.latestRun.result}}
        </mat-chip>
      </mat-chip-list>
      <!-- <mat-progress-spinner *ngIf="!!build.latestRun && build.latestRun.result == 'Running'" color="accent" mode="indeterminate">
      </mat-progress-spinner> -->
    </mat-expansion-panel-header>
    <button mat-raised-button (click)="checkBuild(build.buildDef.name)" color="primary">Refresh</button>
    &nbsp;&nbsp;
    <ng-container *ngIf="!isRunning(build)">
      <button mat-raised-button (click)="startBuild(build.buildDef.name)" color="primary">Start</button>
    </ng-container>
    <ng-container *ngIf="isRunning(build)">
      <button mat-raised-button (click)="cancelBuild(build.buildDef.name)" color="primary">Cancel</button>
    </ng-container>
    <ng-container *ngIf="build.latestRun">
      <div>
        <h3>Latest Build</h3>
        <h4>{{build.latestRun.lastUpdated | date:'yyyy-MM-dd h:mm:ss a' }} ({{build.latestRun.result}}):</h4>
        <table>
          <thead class="table-header">
            <tr>
              <td class="time-col">Time</td>
              <td class="step-col">Step</td>
              <td>Message</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of build.latestRun.log">
              <td class="time-col">{{line.time | date:'yyyy-MM-dd h:mm:ss a'}}</td>
              <td class="step-col">{{line.command}}</td>
              <td>
                <pre>{{line.message}}</pre>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>