<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} {{ emoji }}
  </h1>
</div>
<button mat-raised-button [matMenuTriggerFor]="menu" color="primary" [disabled]="isReloading">Server Controls</button>
<mat-menu #menu="matMenu">
  <button *ngIf="!isPaused" (click)="serverPause(true)" mat-menu-item>⏸️ Pause Builds</button>
  <button *ngIf="isPaused" (click)="serverPause(false)" mat-menu-item>▶️ Resume Builds</button>
  <button (click)="reload()" mat-menu-item>Reload Build Definitions</button>
</mat-menu>
<br/>
<ng-container *ngIf="isReloading">
  <div class="server-message">
    One moment 🍕 the server 🍔 is reloading 🥓 build definitions...
    <mat-progress-spinner mode="indeterminate" color="accent">
    </mat-progress-spinner>
  </div>
</ng-container>
<ng-container *ngIf="isPaused">
  <div class="server-message">
    ⏸️ New builds are currently paused
  </div>
</ng-container>
<h2>Builds</h2>
<mat-accordion multi="false">
  <mat-expansion-panel id="{{'build-' + index}}" *ngFor="let build of builds; index as index" (opened)="buildOpened(build)" (closed)="buildClosed(build)">
    <mat-expansion-panel-header>
      <span class="build-name">
        {{build.definition.name}}
      </span>
      <mat-chip-list *ngIf="build.latest" class="build-result-chips">
        <mat-chip>
          {{build.latest.lastUpdated | date:'yyyy-MM-dd h:mm:ss a'}}
        </mat-chip>
        <mat-chip class="build-result-chip" [ngClass]="chipClass(build)">
          {{build.latest.result}}
        </mat-chip>
      </mat-chip-list>
    </mat-expansion-panel-header>
    <ng-container *ngIf="!isRunning(build)">
      <button mat-raised-button (click)="startBuild(build)" [disabled]="areButtonsDisabled" color="accent">Start</button>
    </ng-container>
    <ng-container *ngIf="isRunning(build)">
      <button mat-raised-button (click)="cancelBuild(build)" [disabled]="areButtonsDisabled" color="warn">Cancel</button>
    </ng-container>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="viewBuildDef(build)" color="primary">View Build Definition</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="checkBuild(build)" [disabled]="areButtonsDisabled" color="primary">Refresh</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="goToBottom(index)" color="primary">Go to bottom</button>
    <ng-container *ngIf="build.latest">
      <div>
        <h3>Latest Build</h3>
        <h4>{{build.latest.lastUpdated | date:'yyyy-MM-dd h:mm:ss a' }} ({{build.latest.result}}):</h4>
        <div id="{{'build-log-container-' + index}}" class="build-logs">
          <table>
            <thead class="table-header">
              <tr>
                <td class="time-col">Time</td>
                <td class="step-col">Step</td>
                <td>Message</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let line of build.latest.log">
                <td class="time-col">{{line.time | date:'yyyy-MM-dd h:mm:ss a'}}</td>
                <td class="step-col">{{line.command}}</td>
                <td>
                  <pre>{{line.message}}</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button mat-raised-button (click)="backToTop(index)" color="primary">Back to top</button>
          &nbsp;&nbsp;
          <button mat-raised-button (click)="close()" color="primary">Close</button>
        </div>
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>